<div>
  <div [@openClose]="isOpen ? 'open' : 'closed'">
    <app-form
      [itemForm]="itemForm"
      [text]="'SAVE'"
      (handleSubmit)="onSave()"
    ></app-form>
  </div>
  <button (click)="toggle()" class="btn btn-info">
    {{ isOpen ? "Close" : "Open" }}
  </button>
</div>

<section *ngIf="!isLoading; else loading" class="mx-auto">
  <div class="card my-4" style="width: 100%" *ngFor="let hero of heroes">
    <div class="card-body">
      <div *ngIf="editingTracker === hero.id">
        <app-form
          [itemForm]="editedForm"
          [text]="'UPDATE'"
          (handleSubmit)="onUpdate()"
        ></app-form>
      </div>
      <div *ngIf="editingTracker !== hero.id" class="mb-3">
        <h5 class="card-title">
          {{ hero.firstName }} {{ hero.lastName }} is {{ hero.knownAs }}
        </h5>
        <p class="card-text">{{ hero.house }}</p>
      </div>
      <div>
        <button
          *ngIf="editingTracker === hero.id"
          (click)="editingTracker = '0'"
          class="btn btn-outline-primary mr-2"
        >
          CANCEL
        </button>

        <button
          *ngIf="editingTracker !== hero.id"
          class="btn btn-primary mr-2"
          (click)="editingTracker = hero.id; editedForm.patchValue(hero)"
        >
          EDIT
        </button>
        <button (click)="goToHeroDetail(hero.id)" class="btn btn-info mr-2">
          DETAIL
        </button>
        <button (click)="removeHero(hero.id)" class="btn btn-danger">
          DELETE
        </button>
      </div>
    </div>
  </div>
</section>

<ng-template #loading>
  <div class="spinner-grow text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</ng-template>
