<form [formGroup]="itemForm" (ngSubmit)="onSubmit()" class="mb-4">
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input
      formControlName="firstName"
      id="firstName"
      class="form-control"
      type="text"
      autocomplete="off"
    />
    <div
      class="alert alert-danger mt-1"
      role="alert"
      *ngIf="fn.invalid && (fn.dirty || fn.touched)"
    >
      {{
        fn.errors.minlength
          ? "first name must be at least 4 characters long."
          : "required"
      }}
    </div>
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input
      formControlName="lastName"
      id="lastName"
      class="form-control"
      type="text"
      autocomplete="off"
    />
  </div>
  <div
    class="alert alert-danger mt-1"
    role="alert"
    *ngIf="ln.invalid && (ln.dirty || ln.touched)"
  >
    {{
      ln.errors.minlength
        ? "last name must be at least 4 characters long."
        : "required"
    }}
  </div>
  <div class="form-group">
    <label for="house">House</label>
    <input
      formControlName="house"
      id="house"
      class="form-control"
      type="text"
      autocomplete="off"
    />
  </div>
  <div class="form-group">
    <label for="KnownAs">Known as</label>
    <input
      formControlName="knownAs"
      id="knownAs"
      class="form-control"
      type="text"
      autocomplete="off"
    />
  </div>
  <button type="submit" class="btn btn-success">
    {{ text }}
  </button>
</form>
